body{
    width: 100vw;
    height: 100%;
    background-color: #05121f;
    font-family: "Montserrat", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images\ \(1\).jfif);

}
.navbar{
  margin-right: 60px;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 16px;
  padding: 0px;
  border: 2px solid #070707;
  background-color: #0f0f0f;
  flex-flow: row wrap;
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;

}

#end{
  
  text-decoration: none;
  font-size: 25px;
  margin: 20px 66px ;
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  background-clip: text ;
  -webkit-text-fill-color: transparent ;
}
.logo{
  display: flex;
  margin-left: 20px;
}

.menu{
margin-left: 30px;
margin-right: 55px;
}
.menu a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 15px;
  transition: all 0.3s ease-out ;

}
.menu a:hover{
  color: rgb(16, 16, 17);

}

input[type=text]{
position: relative;
padding: 15px 40px 15px 20px;
width: 150px;
color: #525253;
font-weight: 100;
letter-spacing: 2px;
border: none;
border-radius: 200px;
background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
transition: width 0.4s ease;
outline: none;
&:focus{ width: 180px; }
}

i{
position: relative;
left: -40px;
color: #8233C5;
}


#entrar :hover{
color: rgb(16, 16, 17);

}
#entrar {
  position: absolute;
  margin-top: 11px;
  margin-left: 1000px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 15px;
  transition: all 0.3s ease-out ;
}


.img-jogo img{
  border: #05121f;
  border: beige solid;
  border-radius: 10px;
  margin-top: 90px;
  margin-left: 70px;

} 


.genero a{
  
  background-color: rgb(77, 76, 76);
  border: 2px solid #070707;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 15px;
  transition: all 0.3s ease-out ;
}
.genero {

  position: absolute;
  margin-left: 300px;
  margin-top: 120px;
}
.nome-game{
  font-family: Blippo, fantasy;
  position: absolute;
  font-size: 50px;
  margin-left: 300px;
  margin-top: 200px;
}
.nome-game a {
  color: rgb(37, 37, 37);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(188, 185, 185);
}
  


.sinopse {
  margin-left: 700px;
  position: absolute;
  border-radius: 10px;
  border:rgb(35, 35, 35) solid;
  margin-top: 250px;
  background: rgb(35, 35, 35);
}
.sinopse a {
  color: white;
  font-size: 16px;
}